<h1>Contact</h1>

<p>Don't be afrait to contact me at <a href="mailto:contact@parentcontrols.win">contact@parentcontrols.win</a> for questions about product or recommendations.</p>

<p>Don't be afraid to message me on <%= link "Twitter", to: "https://twitter.com/parentcontwin", target: "_blank" %> or <%= link "Pintrest", to: "https://www.pinterest.com/parentcontrols/", target: "_blank" %> as well!</p>
