<h1>Contact</h1>

<p>We are a small team who love to hear feedback; don't be afraid to email us at <a href="mailto:contact@parentcontrols.win">contact@parentcontrols.win</a> for questions about product or recommendations.</p>

<p>We're on <%= link "Twitter", to: "https://twitter.com/parentcontwin", target: "_blank" %> and <%= link "Pintrest", to: "https://www.pinterest.com/parentcontrols/", target: "_blank" %> as well!</p>
