<section>
    <h1>Contact</h1>

    <p>Don't be afraid to email us at <a href="mailto:contact@parentcontrols.win">contact@parentcontrols.win</a> for questions about product or recommendations. We are a small team of two and you will get to directly speak with an engineer about product questions or concerns!</p>

    <p>We're on <%= link "Twitter", to: "https://twitter.com/parentcontwin", target: "_blank" %> and <%= link "Pintrest", to: "https://www.pinterest.com/parentcontrols/", target: "_blank" %> as well!</p>

    <p>Additionally you may view our <%= link "frequently asked questions", to: ~p"/content_filter_faq" %> or view our Terms of Service and Privacy Policy <%= link "here", to: ~p"/content_filter_faq#legal" %>.</p>

</section>