<section>
    <h1>Download Windows App</h1>

    <p>You may download the .exe from Proton Drive: <a href="https://drive.proton.me/urls/3B4DT4VJG8#xjV5GbsCwy5l" target="_blank">Download v1.0.5</a>.</p>

    <h3>Downloads Page</h3>

    <p>For a full guide on how to set up your childs computer, please follow these <%= link "install instructions", to: ~p"/install_pcw#install-windows-app" %>.</p>
</section>