<h1>Download Windows App</h1>

<%= link raw("<div class='button'>Download Now</div>"), to: ~p"/downloads/installer_download" %>

<h3>Downloads Page</h3>

<p>For a full guide on how to set up your childs computer, please follow these <%= link "install instructions", to: ~p"/install_pcw" %>.</p>