<h1>Subscription to our service</h1>

<p>To finish subscribing, you must pay through Stripe with the link below.</p>

<ul>
    <li>Cost: <b>$18 a month</b></li>
    <li>If you cancel within 30 days you get a full refund.</li>
</ul>

<%= form_for @conn, ~p"/subscriptions/new", [method: :post], fn f -> %>
    <%= submit "Add Payment and Subscribe", class: "button button-primary" %>
<% end %>
