/*@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";*/

/* This file is for your main application CSS */

@import "./pico.min.css";

.center {
    text-align: center;
}

section + section {
    margin-top: 3rem;
}

.pretty-image-container {
    border-radius: 0rem;
    border: .25rem;
    border-style: solid;
    border-color: #525f7a;
}

.banner-image-container {
    width: 75%;
    border-radius: .25em;
}

@media only screen and (max-width: 768px) {
    .banner-image-container {
        width: 100%;
    }
}

/*****************/
/* from tailwind */
.font-bold {
    font-weight: bold;
}

.py-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* not correct but whatever*/
.gap-4 {
    margin-top: 1rem; /* 16px */
    margin-bottom: 1rem;
}

/* padding from tailwind */
.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-16 {
    margin-bottom: 4rem;
}

.mb-32 {
    margin-bottom: 8rem;
}