/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* COLOR CHOICES
  * LIGHT #F2EFEA
  * DARK #114B5F
  * SPECIAL #C6878F
  * SPECIAL HOVER #b4747d;
  */

.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    margin-top: 5%;
    margin-bottom: 5%;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.no-link-style:hover {
    text-decoration: none;
    color: #888;
    font-family: inherit;
}

.device-wrapper {
    border: 2px;
    border-style: solid;
    border-color: #F2EFEA;
    border-radius: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-bottom: 1.5rem;
}

.device-wrapper:hover {
    border-color: #888;
}



/* INPUT COLOR CHANGES */

input, select, textarea{
    color: #114B5F;
}

textarea:focus, input:focus {
    color: #114B5F;
}


.button:hover {
    color: #C6878F;
    border-color: #C6878F;
}




/* Alerts */

.alert {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.alert-button {
    background-color: #C6878F;
    color: #FFF;
}
.alert-button:hover {
    background-color: #b4747d;
    color: #FFF;
    border-color: #fff;
}

/* .alert-success {
    color: #F2EFEA;
}

.alert-danger {
    color: #C6878F;
} */


/* input form spacing */

.form-input input {
    display: block;
    color: #114B5F;
}

.form-control {
    margin-bottom: 1.5rem;
    display: border-box;
}

input {
    margin-bottom: 1.5rem;
}

/* for how-to link titles */
.underline {
    text-decoration: underline;
}

/* Footer classes */

.footer ul {
    display: flex; /* Use flexbox to evenly space the links */
    justify-content: space-between; /* Space them evenly */
    padding: 10px; /* Add some padding for spacing */
    margin: 0;
    padding: 0;
}

.footer li {
    list-style: none; /* Remove bullet points */
}

.footer a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Set link color */
    font-size: 2rem;
}

