<.header>
  Listing Devices
  <:actions>
    <!-- .link href={~p"/devices/new"}>
      <.button>New Device</.button>
    </.link> -->
  </:actions>
</.header>

<form action={@checkbox_form_action} method="post">
  <fieldset>
    <legend>Select Content to Block</legend>
    <legend><a href={~p"/content_filter_faq#filters-in-use"}>Click to learn more about our filters</a></legend>
    <label>
      <input type="checkbox" name="nsfw" value="nsfw" checked={ if "nsfw" in @content_filters, do: true, else: false}>
      Porn/Sexual Content
    </label>
    <label>
      <input type="checkbox" name="trans" value="trans" checked={ if "trans" in @content_filters, do: true, else: false}>
      Pro-Trans Content
    </label>
    <label>
      <input type="checkbox" name="lgbt" value="lgbt" checked={ if "lgbt" in @content_filters, do: true, else: false}>
      Pro-LGBT Content
    </label>
    <label>
      <input type="checkbox" name="genai" value="genai" checked={ if "genai" in @content_filters, do: true, else: false}>
      Generative AI (such as replica.ai or chatGPT)
    </label>
    <label>
      <input type="checkbox" name="atheism" value="atheism" checked={ if "atheism" in @content_filters, do: true, else: false}>
      Pro-atheist groups
    </label>
  </fieldset>
  <input type="hidden" name="_csrf_token" value={@csrf_token} />
  <button type="submit" class="button-primary">Submit Options</button>
</form>

<div id="devices">
  <%= for device <- @devices do %>
    <div class="row">
      <%= link to: ~p"/devices/#{device.id}" do %>
        <div class="device-wrapper">
          <div id={device.id}>
            <p>
              <strong>Name:</strong>
              <%= device.name %>
            </p>

            <p>
              <strong>User:</strong>
              <%= device.user_id %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<!--
< .table id="devices" rows={@devices} row_click={&JS.navigate(~p"/devices/#{&1}")}>
  < :col :let={device} label="Name">< %= device.name % >< /:col>
  < :col :let={device} label="User">< %= device.user_id % >< /:col>
  < :action :let={device}>
    <div class="sr-only">
      < .link navigate={~p"/devices/#{device}"}>Show</.link>
    </div>
    < .link navigate={~p"/devices/#{device}/edit"}>Edit</.link>
  < /:action>
  < :action :let={device}>
    < .link href={~p"/devices/#{device}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </ :action>
</ .table>
-->