<.header>
  New Device
  <!-- :subtitle>Use this form to manage device records in your database.</:subtitle> -->
</.header>

<.device_form changeset={@changeset} action={~p"/devices"} />

<div>
  <%= link raw("<div class='button'>Back to Devices</div>"), to: ~p"/devices" %>
</div>
