<.header>
  Device <%= @device.id %>
  <:subtitle>This is a device record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/devices/#{@device}/edit"}>
      <.button>Edit device</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @device.name %></:item>
  <:item title="User"><%= @device.user_id %></:item>
</.list>

<.back navigate={~p"/devices"}>Back to devices</.back>
