<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" - PCW">
      <%= assigns[:page_title] || "ParentControls.Win" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <!-- must import phoenix_html here -->
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <%= if Mix.env() == :prod do %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9D0WE4JFGQ"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-9D0WE4JFGQ');
      </script>
    <% end %>

  </head>
  <body>
    <header class="container">
      <nav class="row">
        <ul>
          <li><strong>ParentControls.Win</strong></li>
        </ul>
        <ul>
          <%= if Pow.Plug.current_user(@conn) do %>
            <!-- sign out and settings -->
            <%= link raw("<li class='button'>Sign out</li>"), to: ~p"/session", class: "contrast", method: :delete  %>
            <%= link raw("<li class='button'>Devices</li>"), to: ~p"/devices", class: "contrast" %>
            <%= link raw("<li class='button'>Account</li>"), to: ~p"/registration/edit", class: "contrast" %>
            <%= link raw("<li class='button button-primary'>Setup/Install</li>"), to: ~p"/install_pcw", class: "contrast" %>
            <%= if !ParentcontrolswinWeb.SubscriptionController.is_subscribed?(Pow.Plug.current_user(@conn)) do %>
              <%= link raw("<li class='button button-primary'>Click to Pay and Finish Subscribing!</li>"), to: ~p"/subscriptions", class: "contrast" %>
            <% end %>

          <% else %>
            <%= link raw("<li class='button button-primary'>Sign in</li>"), class: "contrast", to: ~p"/session/new" %>
            <%= link raw("<li class='button button-primary'>Sign up</li>"), class: "contrast", to: ~p"/registration/new" %>
          <% end %>
        </ul>
      </nav>
      <hr/>
    </header>

    
    <main class="container">
      <%= @inner_content %>
    </main>

    <footer class="container">
      <div class="grid">
        <%= link to: ~p"/", class: "contrast" do %>
          <div role="button" type="button" class="outline contrast">Home</div>
        <% end %>
        <%= link to: ~p"/install_pcw", class: "contrast" do %>
          <div role="button" type="button" class="outline contrast">Setup</div>
        <% end %>
        <%= link to: ~p"/contact", class: "contrast" do %>
          <div role="button" type="button" class="outline contrast">Contact</div>
        <% end %>
      </div>
    </footer>
    
  </body>
</html>
