<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" - PCW">
      <%= assigns[:page_title] || "ParentControls.Win" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <!-- must import phoenix_html here -->
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <%= if Mix.env() == :prod do %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-9D0WE4JFGQ"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-9D0WE4JFGQ');
      </script>
    <% end %>

  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top: 3rem;">
        <%= if Pow.Plug.current_user(@conn) do %>
          <!-- sign out and settings -->
          <%= link raw("<div class='button'>Sign out</div>"), to: ~p"/session", method: :delete  %>
          <%= link raw("<div class='button'>Devices</div>"), to: ~p"/devices" %>
          <%= link raw("<div class='button'>Account</div>"), to: ~p"/registration/edit" %>
          <%= link raw("<div class='button button-primary'>Setup/Install</div>"), to: ~p"/install_pcw" %>
          <%= if !ParentcontrolswinWeb.SubscriptionController.is_subscribed?(Pow.Plug.current_user(@conn)) do %>
            <%= link raw("<div class='button button-primary'>Click to Pay and Finish Subscribing!</div>"), to: ~p"/subscriptions" %>
          <% end %>

        <% else %>
          <%= link raw("<div class='button button-primary'>Sign in</div>"), to: ~p"/session/new" %>
          <%= link raw("<div class='button button-primary'>Sign up</div>"), to: ~p"/registration/new" %>
        <% end %>
      </div>

      <hr/>
      <%= @inner_content %>
      <hr/>

      <div class="row">
        <div class="twelve columns footer">
          <ul>
            <li><%= link "Home", to: ~p"/" %></li>
            <li><%= link "Setup", to: ~p"/install_pcw" %></li>
            <li><%= link "Contact", to: ~p"/contact" %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
